[submodule ".vim/pack/colorschemes/opt/vim-gruvbox8"]
	path = .vim/pack/colorschemes/opt/vim-gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/quick-scope"]
	path = .vim/pack/plugins/start/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/start/vim-gutentags"]
	path = .vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
